<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" class="h-100 w-100">
<head>
  <meta charset="utf-8">
  <title>Edit Password</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body class="h-100 w-100" style="background-color: rgba(0, 0, 0, 0.04)">

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: white; border-bottom: 1px solid rgba(0, 0, 0, 0.125);">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/field}">Fields</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/responses}">Responses</a>
                </li>
                <li class="nav-item dropdown">
                    <a  th:text="${name}" class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                        <span class="sr-only">(current)</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" th:href="@{/editprofile}">Edit Profile</a>
                        <a class="dropdown-item" th:href="@{/changepass}">Change Password</a>
                        <a class="dropdown-item" th:href="@{/logout}">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
    
      <div class="row h-100 w-100">
        <div class="col-4 align-self-center m-auto">
          <div class="card">
            <div class="card-header" style="background-color: rgba(0, 0, 0, 0)">
          <h5>Edit Profile</h5>
        </div>
        <div class="card-body">
          <form method="post" th:action="@{/editprofile}" th:object="${user}">
            <label for="firstname" class="col-sm-7 col-form-label">First Name</label>
            <div class="col-sm-12">
              <input th:field="*{firstname}" type="text" class="form-control" id="firstname">
            </div>
            <label for="lastname" class="col-sm-7 col-form-label">Last Name</label>
            <div class="col-sm-12">
              <input th:field="*{lastname}" type="text" class="form-control" id="lastname">
            </div>
            <!--<label for="email" class="col-sm-10 col-form-label" style="display: flex;">Email<h6 class="text-danger">&nbsp;*</h6></label>-->
            <!--<div class="col-sm-12">-->
              <input th:field="*{email}" type="hidden" class="form-control" id="email" required>
            <!--</div>-->
            <label for="phone" class="col-sm-10 col-form-label">Phone</label>
            <div class="col-sm-12">
              <input th:field="*{phone}" type="text" class="form-control" id="phone">
            </div>
            <div class="col-sm-11 mt-4">
              <input th:field="*{password}" type="hidden">
              <button type="submit" class="btn btn-primary col-sm-3">SAVE</button>
            </div>
          </form>
        </div>
        </div>
        </div>
      </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
